<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKvcx9AWpmBcWwlWrNWlescH8xt4I_BOk</string>
	<key>GCM_SENDER_ID</key>
	<string>1072545611265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleFlutterTest</string>
	<key>PROJECT_ID</key>
	<string>sample-flutter-test</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-flutter-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072545611265:ios:bfd38ceeba48e2c1d98a00</string>
</dict>
</plist>